<!DOCTYPE html>
<html>
<head>
    <title>Whatever</title>
    <script src="Scripts/jquery-1.9.1.js"></script>
    <script src="Scripts/angular.js"></script>
    <script src="app.js"></script>
    <script src="app.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script src="Scripts/angular-material/angular-material.js"></script>
    <link href="Content/angular-material.css" rel="stylesheet" />
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet" />
	<meta charset="utf-8" />
</head>
<body ng-app="myApp">
    <md-toolbar class="red">

        <div class="md-toolbar-tools" style="text-align: center;display: block;font-size: x-large">
            <br/>
            <h2 >
                <span>Feed App</span>
            </h2>
        </div>
    </md-toolbar>
    <div ng-controller='mainController'>
        <div ng-repeat="post in posts" class="container">
            <div ng-hide="show" >
                <div ng-hide="edit">
                    <md-card class="md-whiteframe-z2" ng-class-even="'odd'" ng-class-odd="'even'">
                        <h3><span class="text" style="text-align: center;display: block">{{post.text}}</span></h3>
                        <label>
                            <button class="form-control" ng-click="edit = !edit">Edit</button>
                            <button class="form-control" ng-click="post = del(post);show = !show">Delete</button>
                        </label>
                    </md-card>
                    <hr/>
                </div>
                <div ng-show="edit">
                    <input maxlength="100" type="text" ng-model="post.text" />
                    <input class="form-control" type="submit" ng-click="edit = !edit" value="done" />
                </div>
            </div>      
        </div>
        <br />
        <div class="col-md-offset-2 col-md-8">
            <h2>Here's the form, add feed!!!</h2>
            <form ng-submit="submit()" class="form-group">
                <label><input  class="form-control" type="text" maxlength="100" ng-model="newPost.text" placeholder="type text"/></label><br/>
                <label><input class="form-control" type="submit" /></label>
            </form>
        </div>
    </div>
</body>
</html>
